<div class="page-title">
    <h1>Add new Listening</h1>
</div>

<div class="row">

    <div class="col-sm-12">
        <div class="form-group">
            <label for="selectedSet">Listening type</small></label>
            <select id="selectedSet" class="form-control" ng-options="value.name for value in questionTypes" ng-model="selectedSet" required></select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <label for="houseno">House Number</label>
            <input id="houseno" type="text" ng-model="houseno" class="form-control" required>
        </div>
        <div class="col-sm-9">
            <label for="location">Rough location <small class="text-muted">e.g {{ placeholder }}</small></label>
            <input id="location" type="text" ng-model="location" class="form-control" required>
        </div>
    </div>

    <div class="col-sm-12">
        <h3>Candidate interested?</h3>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <button class="btn btn-block btn-success" ng-click="createNew(location, houseno, selectedSet)"><span class="glyphicon glyphicon-tick"></span> Yes</button>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <button class="btn btn-block btn-danger" ng-click="recordNotInterested(location, houseno, selectedSet)"><span class="glyphicon glyphicon-cross"></span> No</button>
        </div>
    </div>

</div>
