<h1>Administration</h1>

<div ng-if="!isAdmin()">
    <p>Permission denied.</p>
</div>

<div ng-if="isAdmin()">
    <h3>Questionnaires</h3>
    <div class="form-group">
        <button class="btn btn-default" ng-click="redirect('/questionnaire/create')">New</button>
        <button class="btn btn-default" ng-click="redirect('/questionnaire/list')">View</button>
    </div>

    <h3>Users</h3>
    <div class="form-group">
        <button class="btn btn-default" ng-click="redirect('/adduser')">Add new user</button>
    </div>

    <h3>Listenings</h3>
    <div class="form-group">
        <button class="btn btn-default" ng-click="redirect('/listening/list')">View interviews</button>
    </div>
</div>
