<div class="page-title">
  <h1>Listen and Record</h1>
</div>

<div ng-if="loading">
  Finding application status...
</div>

<form ng-if="!user" ng-submit="login(loginDetails)">
    <div class="form-group">
      <label>Username</label>
      <input class="form-control" type="text" ng-model="loginDetails.username" required>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input class="form-control" type="password" ng-model="loginDetails.password" required>
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-block">Login</button>
    </div>
</form>

<div ng-if="user" class="row marketing">
  <h2>Help</h2>
  <h2>Add a new listening</h2>
  <ol>
    <li>Click "New Listening" from the menu above</li>
    <li>Enter your approximate location</li>
    <li>If the potential participant is interested, hit the green button and start recording!</li>
    <li>If they are not interested, record the refusal with the red button and start over.</li>
  </ol>
</div>
